{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <button id="psbutton" data-page="purchases">Purchase</button>
    <button id="psbutton" data-page="sales">Sales</button>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Date</th>
                <th class="text-start">Time</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Status</th>
            </tr>
        </thead>
        <tbody>
            <div id="content">
            </div>
        </tbody>
    </table>
{% endblock %}
