{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td class="text-start">{{ result.ticker }}</td>
                <td class="text-start">{{ result.name }}</td>
                <td class="text-end">{{ result.shares }}</td>
                <td class="text-end">{{ result.price | usd }}</td>
                <td class="text-end">{{ (result.shares * result.price) | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <ffoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Total</td>
                <td class="border-0 w-bold text-end">{{ profile | usd }}</td>
            </tr>
        </ffoot>
    </table>
{% endblock %}